@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$nav__link: #4F5665;
$sign-up: #F53855;
$block1__title: #0B132A;
$block1__subtitle: #4F5665;
$get-started: #F53838;
$border: #EEEFF2;
$text1: #0B132A;
$text2: #4F5665;

body{
    font-family: 'Rubik', sans-serif;
}
.header{
    padding: 40px 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .nav{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto;
        font-size: 15px;
        font-weight: 400;
        &__link{
            color: $nav__link;
            margin: 0px 25px;
        }
    }
    .auth{
        display: flex;
        justify-content: space-between;
        &__sign-in{
            font-weight: 500;
            font-size: 15px;
            background-color: white;
            margin-right: 30px;
        }
        &__sign-up{
            font-weight: 500;
            font-size: 15px;
            width: 150px;
            height: 45px;
            border: 2px solid $sign-up;
            border-radius: 20px;
            background-color: white;
            color: $sign-up;
        }
    }
}
.main{
    .block1{
        padding: 0px 100px 100px 200px;
        display: flex;
        justify-content: center;
        .column{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-right: 30px;
            justify-content: space-around;
            &__title{
                font-weight: 500;
                font-size: 50px;
                line-height: 70px;
                color: $block1__title;
                .brand-name{
                    font-weight: 700;
                }
            }
            &__subtitle{
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                color: $block1__subtitle;
                .brand-name{
                    font-weight: 500;
                }
            }
            &__get-started{
                font-size: 16px;
                font-weight: 600;
                width: 250px;
                height: 50px;
                background-color: $get-started;
                color: white;
                border-radius: 10px;
            }
        }
    }
    .block2{
        padding: 0px 75px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-shrink: 1;
        .locations{
            border-left: 2px solid $border;
            border-right: 2px solid $border;
        }
        .row{
            padding: 30px 150px;
            display: flex;
            justify-content: center;
            .icon{
                margin-right: 20px;
            }
            .text{
                justify-content: center;
                &__text1{
                    margin-bottom: 20px;
                    color: $text1;
                    font-weight: 600;
                    font-size: 25px;
                }
                &__text2{
                    color: $text2;
                    font-size: 20px;
                }
            }
        }
    }
}