@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Rubik', sans-serif;
}

.header {
  padding: 40px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  font-size: 15px;
  font-weight: 400;
}

.header .nav__link {
  color: #4F5665;
  margin: 0px 25px;
}

.header .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .auth__sign-in {
  font-weight: 500;
  font-size: 15px;
  background-color: white;
  margin-right: 30px;
}

.header .auth__sign-up {
  font-weight: 500;
  font-size: 15px;
  width: 150px;
  height: 45px;
  border: 2px solid #F53855;
  border-radius: 20px;
  background-color: white;
  color: #F53855;
}

.main .block1 {
  padding: 0px 100px 100px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .block1 .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .block1 .column__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
}

.main .block1 .column__title .brand-name {
  font-weight: 700;
}

.main .block1 .column__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}

.main .block1 .column__subtitle .brand-name {
  font-weight: 500;
}

.main .block1 .column__get-started {
  font-size: 16px;
  font-weight: 600;
  width: 250px;
  height: 50px;
  background-color: #F53838;
  color: white;
  border-radius: 10px;
}

.main .block2 {
  padding: 0px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.main .block2 .locations {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
}

.main .block2 .row {
  padding: 30px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .block2 .row .icon {
  margin-right: 20px;
}

.main .block2 .row .text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .block2 .row .text__text1 {
  margin-bottom: 20px;
  color: #0B132A;
  font-weight: 600;
  font-size: 25px;
}

.main .block2 .row .text__text2 {
  color: #4F5665;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */